@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

.pixel-canvas {
  background: black;
  filter: blur(1.5px) contrast(110%) brightness(1.05);
  transition: filter 0.5s ease;
}

.pixel-canvas:hover {
  filter: blur(1.5px) contrast(100%) brightness(1);
}