@import "tailwindcss";

html, body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

.pixel-canvas {
  background: white;
  filter: blur(.5px);
}

@font-face {
  font-family: "Geist";
  src: url('/fonts/Geist.ttf') format('truetype');
}

.font-geist {
  font-family: "Geist", sans-serif;
}